<div class="p-3 mb-0"><h1>Stupid Coaching</h1>

<div class="answer p-3 mt-0 mb-0"><%= params[:question] %>
<p class="fst-italic">-You</p></div>
<br>
<div class="answer p-3 mt-0 mb-0 bg-warning bg-opacity-10"><strong><%= @answer %></strong>
<p class="fst-italic">-Your coach</p></div></div>

<div class="p-3 mb-0 text-primary"><%= link_to "Ask a new question", ask_path %></div>
